.*.swp
*.bak
*.json
*.old
*.yml
.DS_Store
.classpath
.project
.settings
target/
OpenNMS-Release-*.tar.gz
Makefile
blib
inc
pm_to_blib
debian/files
debian/*.log
debian/libopennms-release-perl.substvars
debian/libopennms-release-perl
